In [1]:
data=[(12345,"Diksha","Diksha r@nuv.ac.in"),(45667,"Jiva", "Jiva@nuv.ac.in"),(16789,"Ronit","Ronit@nuv.ac.in"),(69433,"Heena","Heena@nuv.ac.in")]

In [2]:
n=int(input("Enter id: "))
for i in data:
    print(i[0])
    if i[0]==n:
        print(i)

Enter id: 12345
12345
(12345, 'Diksha', 'Diksha r@nuv.ac.in')
45667
16789
69433

In [3]:
Mydict ={"Enrollment Id" :[12345, 45667, 16789, 69433],"Student Name": ["Diksha" , "Jiva", "Ronit", "Heena"],"Email Id":["Diksha r@nuv.ac.in", "Jiva@nuv.ac.in", "Ronitd@nuv.ac.in","Heena@nuv.ac.in"]}

In [5]:
value = int(input("=>"))

=>12345

In [8]:
for i in range(len(Mydict["Enrollment Id"])):
    if Mydict["Enrollment Id"][i]==value:
        enrolid = Mydict["Enrollment Id"][i]
        sname = Mydict["Student Name"][i]
        emailid = Mydict["Email Id"][i]
print(f"{enrolid:<7} {sname:12}{emailid:25}")

12345   Diksha      Diksha r@nuv.ac.in

In [1]:
data=[(12345,"Diksha","Dikshar@nuv.ac.in"),(45667,"Jiva","Jiva@nuv.ac.in"),(16789,"Ronit","Ronitd@nuv.ac.in"),(69433,"Heena","Heena@nuv.ac.in")]
Mydict = {"Enrollment ID":[],"Sname":[],"Semail":[]}
for i in data:
    Mydict["Enrollment ID"].append(i[0])
    Mydict["Sname"].append(i[1])
    Mydict["Semail"].append(i[2])
print(Mydict)

{'Enrollment ID': [12345, 45667, 16789, 69433], 'Sname': ['Diksha', 'Jiva', 'Ronit', 'Heena'], 'Semail': ['Dikshar@nuv.ac.in', 'Jiva@nuv.ac.in', 'Ronitd@nuv.ac.in', 'Heena@nuv.ac.in']}

In [17]:
import json
d={ "id " : "22000270","Name":"Rushil","Contact":"2722829"}
f = open("Bcastudent.json","w")

In [18]:
jsdata = json.dumps(d , indent=4)
f.write(jsdata)

73

In [19]:
f = open("Bcastudent.json","r")
detail = json.load(f)
print(detail)

{'id ': '22000270', 'Name': 'Rushil', 'Contact': '2722829'}

In [27]:
d ={ "id":"626663","Name":"dusd","Contact":"383782377"}
f = open("Bcastudent.json","a")
json.dump(d ,f ,indent=4)

In [31]:
import pandas as pd
df = pd.read_csv("data1.csv")
df

   stateid            name   population in crores   No. of Universities
0    12001         Gujarat                     10                    29
1    12002     Maharashtra                     19                    36
2    12003       Rajasthan                     13                    31
3    12004  Madhya Pradesh                     14                    21
4    12005          Punjab                     12                    13
5    12006       Karnataka                     23                    31
6    12007       Tamilnadu                     25                    29
7     1208          Kerala                     21                    15

In [40]:
keys = list(df.keys())
keys
value = list(df.values)

for d in value:
    states[d[0]]={
        
    }

[12001 'Gujarat' 10 29]
[12002 'Maharashtra' 19 36]
[12003 'Rajasthan' 13 31]
[12004 'Madhya Pradesh' 14 21]
[12005 'Punjab' 12 13]
[12006 'Karnataka' 23 31]
[12007 'Tamilnadu' 25 29]
[1208 'Kerala' 21 15]

In [1]:
import cmath

def solve_quadratic_equation(a, b, c):
 
    discriminant = cmath.sqrt(b**2 - 4*a*c)
    
   
    root1 = (-b + discriminant) / (2*a)
    root2 = (-b - discriminant) / (2*a)
    
    return root1, root2


a = float(input("Enter the coefficient a: "))
b = float(input("Enter the coefficient b: "))
c = float(input("Enter the coefficient c: "))

if a != 0:

    solutions = solve_quadratic_equation(a, b, c)


    print("The solutions are:", solutions)
else:
    print("The coefficient 'a' cannot be zero for a quadratic equation.")

Enter the coefficient a: 3
Enter the coefficient b: 8
Enter the coefficient c: 9
The solutions are: ((-1.3333333333333333+1.1055415967851332j), (-1.3333333333333333-1.1055415967851332j))

In [2]:
def is_prime(number):
    """Check if a number is prime."""
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

def print_prime_numbers_in_interval(start, end):
    """Print all prime numbers in the given interval."""
    print(f"Prime numbers between {start} and {end}:")
    for num in range(start, end + 1):
        if is_prime(num):
            print(num, end=" ")


start = int(input("Enter the start of the interval: "))
end = int(input("Enter the end of the interval: "))


print_prime_numbers_in_interval(start, end)

Enter the start of the interval: 5
Enter the end of the interval: 7
Prime numbers between 5 and 7:
5 7

In [5]:
def display_multiplication_table(number):
    print(f"Multiplication table for {number}:")
    for i in range(1, 11):
        result = number * i
        print(f"{number} x {i} = {result}")


number = int(input("Enter the number for the multiplication table: "))


display_multiplication_table(number)

Enter the number for the multiplication table: 4
Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [6]:
def generate_fibonacci_sequence(n):
    fibonacci_sequence = [0, 1]

    for i in range(2, n):
        next_term = fibonacci_sequence[-1] + fibonacci_sequence[-2]
        fibonacci_sequence.append(next_term)

    return fibonacci_sequence

n = int(input("Enter the number of terms for the Fibonacci sequence: "))


fibonacci_sequence = generate_fibonacci_sequence(n)
print("Fibonacci sequence:")
print(fibonacci_sequence)

Enter the number of terms for the Fibonacci sequence: 4
Fibonacci sequence:
[0, 1, 1, 2]

In [7]:
def is_armstrong_number(number):
    
    num_str = str(number)
    num_digits = len(num_str)
    
  
    armstrong_sum = sum(int(digit) ** num_digits for digit in num_str)
    
    return armstrong_sum == number


number = int(input("Enter a number to check for Armstrong property: "))


if is_armstrong_number(number):
    print(f"{number} is an Armstrong number.")
else:
    print(f"{number} is not an Armstrong number.")

Enter a number to check for Armstrong property: 2
2 is an Armstrong number.